* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 0;
    background-color: white;
    border-bottom: 2px solid rgb(220, 220, 220);
}

.center {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 2%;
}

.header_logo {
    width: 50%;
}

.header_loginForm {
    width: 50%;
    text-align: right;
}

.header_loginForm form {
    display: inline-block;
}

.header_loginForm input[type=text],
.header_loginForm input[type=password] {
    width: 180px;
    height: 20px;
    border: 1px solid #ccc;
    margin-right: 5px;
    padding-left: 10px;
}

.header_loginForm input[type=submit] {
    background-color: #0095f6;
    color: white;
    border: 0;
    height: 20px;
    cursor: pointer;
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 10px;
}

.btn_criarConta {
    display: inline-block;
}

.btn_criarConta a {
    margin: 0 10px;
    font-size: 14px;
}

.header_logadoInfo {
    text-align: right;
    width: 50%;
}

.header_logadoInfo a {
    margin: 0 10px;
    background-color: #0095f6;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 10px;
}

.modalCriarConta, .modalUpload, .modalPost {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.formCriarConta, .formUpload, .formPost {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
    border-radius: 4px;
}

.formCriarConta h2, .formUpload h2 {
    margin-bottom: 10px;
}

.formCriarConta input, .formUpload input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

.formCriarConta input[type=submit], .formUpload input[type=submit] {
    background-color: #0095f6;
    cursor: pointer;
    color: white;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 30px;
    border-radius: 15px;
    background-color: #0095f6;
}

.postSingle {
    background-color: white;
    max-width: 470px;
    margin: 10px auto;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.postHeader, .postHeaderModal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px 0;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.postHeader img, .postHeaderModal img {
    width: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
}

.postSingle img {
    width: 100%;
}

.postSingle > p {
    font-size: 14px;
    padding: 10px 0;
}

.postSingle > p b, .titleContainer > p b, .comment-single > p b {
    padding-right: 8px;
    cursor: pointer;
}

.postSingle form {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.postSingle textarea {
    width: 100%;
    height: 17px;
    border: none;
    resize: none;
    font-family: inherit;
    outline: none;
    overflow: hidden;
}

.postSingle input[type=submit] {
    display: none;
    background-color: white;
    cursor: pointer;
    color: #0095f6;
    border: 0;
    font-weight: bold;
}

.commentsNumber {
    color: #4b4b4b;
    cursor: pointer;
    font-size: 14px;
}

.comments {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 14px;
    gap: 5px;
    height: 100%;
    overflow-y: auto;
}

.comment-single {
    text-align: left;
}

.formPost {
    padding: 0;
    background-color: black;
    min-height: 450px;
    max-width: 1200px;
    width: calc(100% - 130px);
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    aspect-ratio: 1 / 1;
}

.formPost > img {
    max-width: calc(100% - 400px);
    max-height: 100%;
    object-fit: contain;
}

.modalPostInfo {
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 14px;
    height: 100%;
}

.modalPostInfo form {
    padding-top: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #ccc;
}

.postHeaderModal {
    justify-items: flex-start;
    padding: 4px 0 14px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.titleContainer {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 14px;
}

.titleContainer > p:last-child, .comment-single > p:last-child {
    color: #4b4b4b;
    font-size: 12px;
}

.loginContent {
    height: calc(100vh - 76px);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.imageLogin {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 9 / 16;
}

.imageLogin img {
    height: 110%;
}

.dataLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    gap: 10px;
}

.formLogin {
    border: 1px solid #ccc;
    padding: 10px 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin img {
    width: 175px;
    margin: 40px 0;
}

.formLogin form input {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
}

.formLogin form input[type=submit] {
    height: 32px;
    background-color: #0095f6;
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 15px;
    cursor: pointer;
}

.formSignup {
    border: 1px solid #ccc;
    padding: 25px 10px;
    width: 350px;
    text-align: center;
    font-size: 14px;
}

.formSignup a {
    background-color: white;
    cursor: pointer;
    color: #0095f6;
    border: 0;
    font-weight: 600;
    text-decoration: none;
}

footer {
    margin-bottom: 50px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #737373;
}

@media (max-width: 786px) {
    .imageLogin {
        display: none;
    }
}

@media (max-width: 490px) {
    .postHeader, .postSingle > p, .postSingle form {
        padding: 10px;
    }
}